@model BorrowLend.Models.ViewModels.ExpenseVM
@{
    ViewData["Title"] = "Create";
}
<form method="post" asp-action="Create">
    <h1>Create</h1>
    <h4>New Expense</h4>
    <table class="table table-bordered table-striped" style="width:100%">
            <thead>
                <tr>
                <th width="33%"> Expense Name </th>
                <th width="33%"> Expense Amount </th>
                <th width="33%"> Expense Type </th>
                </tr>        
            </thead>
            <tbody>
                 <tr>
                     <td width="33%"><input asp-for="Expense.ExpenseName" /></td>
                     <td width="33%"><input asp-for="Expense.ExpenseAmount" /></td>
                     <td width="33%">
                         <select asp-for="Expense.ExpenseTypeId" asp-items="@Model.TypeDropDown" class="form-control">
                             <option select>---Select Expense Type---</option>
                         </select>
                     </td>
                 </tr>
            </tbody>
        </table>
</form>
