@model IEnumerable<BorrowLend.Models.Item>
<div class="container - p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">
                Borrowed Item list
            </h2>
        </div>
    </div>
    <br />
    @if (Model.Count() > 0)
    {
        <table class="table table-bordered table-striped" style="width:100%">
            <thead>
                <th> Item Name </th>
                <th> Borrower </th>
                <th> Lender </th>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td width="30%">@item.ItemName</td>
                        <td width="30%">@item.Borrower</td>
                        <td width="30%">@item.Lender</td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>
